
<style>
    canvas {display: block;margin: 0 auto;}
</style>
<div ng-include="'views/botoneraSostenedor.html'"></div>

<div class="tab_content rounded-top rounded-bottom" ng-controller="sostenedorIDD">
    <div id="content" class="cf">


        <div class="form_container">
            <fieldset class="wide_fieldset rounded-top rounded-bottom">
                <legend>Ingreso Declaración (8592	14.235.253-2	Carlos Alfaro	Basico) </legend>

                <div class="mineduc blueline"></div>
                <div class="mineduc redline"></div>

                <div id="panel_wrapper">
                    <div class="form_panel">
                        <div class="form_line">
                            <h3>Información</h3>
                            <label for="textfield1">Horas Función Aula</label>
                            <input id="textfield1" type="text" />
                        </div>
                        <div class="form_line">
                            <label for="textfield2">Horas Función Técnica</label>
                            <input id="textfield2" type="text" />
                        </div>
                        <div class="form_line">
                            <label for="textfield3">Horas Función Directiva</label>
                            <input id="textfield3" type="text" />
                        </div>
                        <div class="form_line">
                            <label for="textfield3">Horas de Contrato</label>
                            <input id="textfield3" type="text" />
                        </div>
                        <div class="form_line">
                            <label for="textfield3">Dias Licencias Medicas</label>
                            <input id="textfield3" type="text" />
                        </div>
                        <div class="form_line">
                            <label for="textfield3">Dias Permiso Sin Goce Rem</label>
                            <input id="textfield3" type="text" />
                        </div>

                        <div class="form_line">
                            <label for="textfield3">Dias Ausencias no Justificadas</label>
                            <input id="textfield3" type="text" />
                        </div>
                        <div class="form_line">
                            <label for="textfield3">Total Dias Trabajados</label>
                            <input id="textfield3" type="text" />
                        </div>


                    </div>

                </div>

                <div class="pan_wide">

                    <div class="botonera_pie ">
                        <input type="button" value="Guardar" />
                        <input type="submit" value="Cancelar" />
                    </div>
                    <!--  no deberias usar botones rojos, pero existen -->
                    <!-- 								<div class="botonera_pie "> -->
                    <!-- 									<input type="button" class="red" value="Botón tipo button rojo" />  -->
                    <!-- 									<input type="submit" class="red" value="Botón tipo submit rojo" /> -->
                    <!-- 								</div>								 -->

                </div>

            </fieldset>
        </div>

    </div>

</div>
</div>


